<!-- modal for new project -->
<div class="modal fade" id="delete-project" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Project</h4>
      </div>
      <div class="modal-body text-center">
        <h4>Are you sure you remove the project ?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
        <button id="delete-button" type="button" class="btn btn-default btn-flat">Ok</button>
      </div>
    </div>
  </div>
</div>