<!-- modal for export project -->
<div class="modal fade" id="share-project" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Share</h4>
      </div>
      <div class="modal-body">
        <br>
        <div class="row">
          <div class="form-group">
            <label class="col-sm-1">URL:</label>
            <input id="share-url" class="col-sm-8" type="text">
            <button id="share-copy-button" class="col-sm-1 btn btn-default text-center share-button">Copy</button>
            <button id="share-open-button" class="col-sm-1 btn btn-default text-center share-button">Open</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>