[submodule "libs/brackets-server/brackets-src"]
	path = libs/brackets-server/brackets-src
	url = https://github.com/adobe/brackets.git
	ignore = dirty
[submodule "tools/crx"]
	path = tools/crx
	url = https://github.com/oncletom/crx.git
	ignore = dirty
[submodule "tools/pepper.js/tools/video.js/mux-js"]
	path = tools/pepper.js/tools/video.js/mux-js
	url = https://github.com/videojs/mux.js.git
[submodule "libs/tau-wysiwig"]
	path = libs/tau-wysiwig
	url = https://github.com/Samsung/TAU-Design-Editor
	ignore = dirty
[submodule "1.0"]
	path = TAU/1.0
	url = https://github.com/Samsung/TAU.git
[submodule "TAU/1.1"]
	path = TAU/1.1
	url = https://github.com/Samsung/TAU.git
