<!doctype html>
<html>
<head>
  <title>Web Application Editor </title>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no' />
  <link rel='stylesheet' href='/css/style.css'/>
